@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,800;1,200;1,300;1,500;1,900&family=Rampart+One&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

@font-face {
    font-family: "TheLastCall";
    src: url("../fonts/TheLastCall-Regular.otf") format("opentype");
}

html {
    overflow-x: hidden !important;
}

body {
    background-color: #ebf5e2;
    overflow-x: hidden !important;

}

.hero-cont {
    margin-top: 7%;
}

.hero-heading {
    font-family: "TheLastCall" !important;
    letter-spacing: 2px;
    font-size: 50px;
}

.header-page {
    background-color: #000027 !important;
    color: #ebf5e2;
}

.head-demo {
    background-color: #000027 !important;
    color: #ebf5e2;

}

.hero-paro {
    margin-top: 30px;
    padding-bottom: 28px;

}

#hero-left {
    text-align: center;
    padding-top: 12%;
}

.nav-link {
    color: #ebf5e2;
    padding: 10px 15px;
}

.banner {
    padding-top: 60px;
}

.hero-btn-1 {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #000027;
    padding: 10px 20px;
    border-radius: 6px;
    margin-right: 5px;
    transition: transform .6s;
    font-weight: 500;
    font-size: 20px;

}

.hero-btn-2 {
    border: 1px solid #000027;
    cursor: pointer;
    color: #000027;
    background-color: transparent;
    padding: 10px 12px;
    border-radius: 8px;
    margin-left: 10px;
    letter-spacing: 1px;
    transition: transform .6s;
    font-weight: 500;
    font-size: 20px;
}

.hero-img {
    /* height: 500px; */
    max-width: 100%;
    margin-top: 52px;
}
.parhero{
    margin-left: 31px;
    font-size: 12px;
}

.hero-btn-2:hover,
.hero-btn-1:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.desk-view {
    display: none;
}

.colum-img {

    padding-top: 24%;
    width: 100%;
    display: block;
}

.colum-img2 {
    padding-top: 28%;
    width: 100%;
    display: none;


}

.unset {
    display: inline-block !important;
}

.top-head {
    font-weight: 500;
    padding-top: 41%;
}

.hero-btn-3 {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #000027;
    padding: 10px 20px;
    border-radius: 6px;
    margin-right: 5px;
    transition: transform .6s;
    font-weight: 500;
    font-size: 20px;

}

.sec1-btn-1 {
    background-color: #000027;
    color: #fff;
    border: none;
    padding: 20px 85px;
    border-radius: 5px;
    font-weight: 414;
    font-size: 24px;
    margin-bottom: 30PX;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.sec1-btn-2 {
    background-color: #fff;
    color: #b7b7b7;
    border: none;
    padding: 20px 73px;
    border-radius: 5px;
    font-weight: 414;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.demoactive {
    background-color: #000027 !important;
    color: #fff !important;
    border: none;

}

.liveactive {

    background-color: #fff !important;
    color: #b7b7b7 !important;
    border: none;
}

.section-2 {
    /* height: 300px; */
    background-color: #000027;
    margin-top: 68px;
    padding: 58px 0px;
}

.font {
    float: left;
    color: #fff;
    font-size: 30px;

}

.market {
    font-size: 63px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    opacity: 1;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: lr-tb;
    position: relative;
    top: 60%;
    left: 14%;
}

.content-1 h2 {
    color: #fff;
    /* margin: 0px 0px 8px; */
    margin-left: 28px;
    /* margin-right: 80px; */
}

.content-1 p {
    color: #fff;
    margin-bottom: 40px;
    font-size: 12px;
}

.sec2-colm {
    padding-inline: 77px;
}

.sec3-col {
    padding-inline: 77px;
}

.sec4-col {
    padding: 6%;
}

.sec4-col h2 {
    font-size: 25px;
    font-weight: 400;
}

.sec4-col p {
    font-size: 12.5px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 40px;
}

.sec4-h3 {
    align-items: right;
    float: right;
    /* margin-top: 3px; */
    padding-top: 52px;
}

.sec4-img img {
    width: 100%;
    /* height: auto; */
    padding-top: 8px;
}

.sec-5 {
    background-color: #fafafa;
    padding-top: 30px;
}

.sec-head {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 39px;
    font-weight: 500;
}

.sec-5 img {
    padding: 20px 50px;
    transition: transform .6s;
}

.sec-5 img:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.section-6 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 100px;



}
 

.sec6-h3 {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Poppins';
}

.card-1 {
    background: transparent linear-gradient(180deg, #3B3B3B 0%, #000000 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    border-radius: 4%;

}

.card-1 h3 {
    color: #fff;
    font-size: 22px;
    padding: 9%;
}

.card-title h2 {
    color: black;
    border: 1px solid #fafafa;
    width: 331px;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    padding-left: 6%;
    background-color: #ebf5e2;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
    padding: 31px 6%;
}

.bottom-card1 ul li {
    color: #fff;
    list-style: none;
    padding-top: 3%;
    font-size: 13px;
    font-family: 'Poppins';

}

.line-bot {
    width: 80%;
    border: 2PX solid #fff !important;
    margin: 11px 35px;
    background-color: #fff !important;
}

.card-title h2 span {
    color: black;
    font-size: 18px;
}

.card-title h2 {
    font-size: 40px;
    font-family: 'Poppins';
}

.bottom2 {
    padding-top: 5%;
    padding-left: 0%;
    text-align: right;
    padding-right: 31px;
}

/* .bottom{
    padding: 0;
}  */
.card-btn {
    background-color: #fafafa;
    color: #000027;
    width: 159px;
    padding: 11px;
    border-radius: 6px;
    height: 55px;
    font-size: 22px;
    transition: transform .6s;
    margin: 17px;
}

.card-btn:hover {
    background-color: #000027;
    color: #fff;

    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);


}

.title-card2 {

    color: black;
    border: 1px solid #fafafa;
    width: 331px;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    padding-left: 6%;
    background-color: #ebf5e2;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
    padding: 31px 6%;


}

.sec7-head {
    margin: 200px 0px 50px;
    font-weight: 500;
}

.sec7-p {
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: normal;
}
.iconimg{
    background-image: url('../image/right-arrow-69.png') !important;
}
.iconimg1{
    background-image: url('../image/left-arrow-13-460294.webp') !important;
}

.sec8-footer {
    background-color: #000027;
    padding: 8%;
    margin-top: 5%;
}

.footer {
    color: #fff;
    font-size: 22px;
    font-weight: 400;

}

.footer-line {
    padding-left: 10px;
    border-left: 3px solid #edf5e1;
    margin-bottom: 24px;
}

.footer-p {
    color: #fff;
    font-size: 14px;
}
.foot i{
     padding-left: 22px;
}

.footer1 li a {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    font-size: 12px;

}

.footer1 {
    text-decoration: none;
    list-style-type: none;
}

.footer2 {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    font-size: 12px;

}
.fot p{
    padding-left: 20px;
}

.footer2 li a {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    font-size: 12px;
    line-height: 24px !important;
}

.footer-a {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    font-size: 12px;
}

.footer-link {
    color: #fff;
    text-align: center;
    justify-content: center;
}

.type-box {
    /* border: none; */
    padding: 2%;
    background-color: #ffffff4d;
    border: 2px solid #000037;
    color: #ffff;
    font-size: 21px;
    box-shadow: none !important;
    border-radius: 7px;
}

.foot {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.type-box::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
    font-size: 18px;
    text-align: center;
}

.btnplan {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.foot-ico {
    margin-right: 25px;
}

.foot-ul {
    list-style-type: none;
    padding-left: 57px;
}

.payment-con {
    max-width: 900px !important;
}

.bottom,
.bottom2 {
    line-height: 31px;
    padding-top: 17px;
}

.paper-bg {
    background-color: #000027;
    border: none;
}

.int {
    background-color: #ffffff1c !important;
    border: none;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
.form-control{
    color: #fff;
}

.int::placeholder {
    color: #fff;
    text-align: center;
}

.foot-links:hover {
    opacity: 0.8 !important;
}

/* trading sec */
.trade-sec1 {
    background-image: url('../image/inner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 32px 180px;
    margin-top: 6%;
}

.trade-sec1 a {
    text-decoration: none;
    color: #fff;
    padding-top: 60px;
}

.trade-p p {
    padding: 25px 0px;
}

.trade-p h2 {
    padding-top: 20px;
}

.widsec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* platform */
.mt4-sec img {
    width: 80%;
    padding-top: 4%;
}

.mt4-sec p {
    padding-right: 8%;
    padding-top: 14px;
    font-size: 14.5px;
}

.mt4-sec h2 {
    font-weight: 500;
    font-size: 32px;
    padding-top: 20px;
}

.mt5-sec img {
    width: 310px;
    padding-top: 20px;
}

.mt5-sec h2 {
    font-weight: 500;
    font-size: 32px;
    padding-top: 10px;
}

.mt5-sec p {
    padding-top: 14px;
    font-size: 14.5px;
}

.plat-sec2 h2 {
    font-size: 22px;
    color: #AAAAAA;

}

.plat-sec2 h2:hover {
    color: #3B3B3B;
}

.plat-h3 {
    color: #151515;
    font-size: 30px;
    font-weight: bold;
    padding: 150px 1px 59px 22px;


}

.boxview1 {

    box-shadow: 0 30px 20px #00000029;
    border-radius: 2px 55px 2px 55px;
    text-align: center;
    padding: 95px 10px;
    height: 300px;


}

.boxview2 {
    box-shadow: 0 30px 20px #00000029;
    border-radius: 2px 55px 2px 55px;
    text-align: center;
    padding: 95px 10px;
    height: 300px;
}

.boxview3 {
    box-shadow: 0 30px 20px #00000029;
    border-radius: 2px 55px 2px 55px;
    text-align: center;
    padding: 95px 10px;
    height: 300px;
}

.boxview4 {
    box-shadow: 0 30px 20px #00000029;
    border-radius: 2px 55px 2px 55px;
    text-align: center;
    padding: 95px 10px;
    height: 300px;
}

.plat-secl li {
    list-style-type: none;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;

}

.plat-sec3 h2 {
    padding: 31% 0% 5%;
    font-size: 38px;
    font-weight: 600;
}

.plat-sec4 {
    padding: 15% 3% 5%;
}

.plat-img {
    margin: 50px 0px;
}

/* accounut section */
.heading {
    background-image: url("../image/standard1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    /* padding: 49px; */
    margin-top: 41px;
    color: #fff;
}

.card-section {
    border-radius: 17px;
    background: #F9F8F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    width: 90%;

}

.card-content {
    color: #fff;
    font-size: 22px;


}

.card-p1 {
    text-align: right;
    font-size: 19px;
}

.card-p2 {
    text-align: left;
    font-size: 45px;
    font-weight: 500;
}

.card-p3 {
    font-size: 14px;
}

.list1 ul {
    list-style-type: none;
    padding: 0 20px;
    padding-bottom: 25px;
}

.text-left {
    float: left;
}

.text-right {
    float: right;

}

.line-li li {
    border-bottom: 1px dashed;
}

.center-content h2 {
    /* padding-left: 14px; */
    font-size: 39px;
    font-weight: 500;
    padding-top: 13%;
    /* padding-right: 3px; */
    text-align: center;
    padding-bottom: 20px;
}

.center-content p {
    text-align: center;
    font-size: 17.5px;
    /* justify-content: center; */
    padding: 41px;
}
.btr {
    border-radius: 6.23px;
    box-shadow: 0px 3px 6px #00000029;
    background: transparent linear-gradient(90deg, rgba(0, 172, 179, 1) 0%, rgba(6, 173, 178, 1) 12%, rgba(23, 176, 175, 1) 28%, rgba(52, 182, 171, 1) 47%, rgba(92, 191, 166, 1) 68%, rgba(142, 201, 159, 1) 90%, rgba(169, 207, 156, 1) 100%) 0% 0% no-repeat padding-box;
    color: #edf5e1;
    padding: 16px 60px;
    border: none;
    position: relative;
    top: 26px;
}

.card-secbtn button {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #000027;
    padding: 8px;
    margin: 16px;
    border-radius: 6px;
}

/* card section */
.hed {
    /* margin: 141px 10px; */
    margin-top: 12%;
    margin-bottom: 36px;
}

.card-table {
    position: relative;
    text-align: center;
    color: white;
    font-size: 21px;
    /* justify-content: center; */
}

.content-card {
    position: absolute;
    top: 15%;
    left: 18%;
    padding-right: 26px;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.list-ss {
    list-style-type: none;
    color: #151515;
    text-align: left;
    position: relative;
    top: -29px;
    padding-top: -8px;
}

.list-ss li {
    border-bottom: 1px dashed #A8A8A8;
    padding: 8px 0px;
    font-size: 16px;
    font-weight: 500;
}

.card-table2 {
    background-image: url("../image/price-table.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.card-table2 p {
    font-size: 15px;
    font-weight: 100;
}

.card-table2 h3 {
    font-size: 21px;
    margin-top: 24px;
}

.card-table2 p span {
    font-weight: 500;
}

.list-ss1 {
    list-style-type: none;
    color: #000000;
    text-align: center;
    padding-top: 9px;
    margin-top: 64px;
    padding: 9px 0 0 0;
}

.colum1 {
    padding: 0;
    margin-top: 27px;
}

.list-ss1 li {
    border-bottom: 1px dashed #A8A8A8;
    padding: 8px 0px;
    font-size: 16px;


}

.card-bt {
    color: #edf5e1;
    display: block;
    padding: 15px 0;
    text-decoration: none;
    background-color: #3e3c3c;
    font-weight: 500;

}

.card-bt:hover {
    background-color: #000037;
}

.card-fot {
    color: #000000;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    padding-top: 150px;

}

.card-fot span {
    font-weight: 600;
    color: #000027;
}

.start-btn {
    text-align: center;
    padding-top: 60px;

}

.start-btn1{
    border-radius: 6px;
    box-shadow: 0 0 6px #00000029;
    background-color: #000027;
    color: #edf5e1;
    padding: 10px 30px;
    font-size: 18px;
    text-decoration: none;

}
.start-btn1:hover{
    background-color:#edf5e1;
    color: #151515;
}

.start-btn2{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    background-color: #ebf5e2;
    text-decoration: none;
}

.start-btn2 span {
    color: #000000;
    background-color: #ebf5e2;
    font-size: 16px;
    font-weight: 600;



}

/* patnership */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border-radius: 2px 55px 2px 55px;


}

.flip-card-inner {
    position: relative;
    width: 100%;
    min-height: 88%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    top: 34px;
     border-radius: 2px 55px 2px 55px;

}
.flip-card-front h3 {
    text-align: center;
    position: relative;
    top: 94px;
    color: #a8a8a8;
}
.flip-card-front h3:hover{
    color: #AAAAAA;
    background-color: #3B3B3B;
}
.svg-card{
   
        position: relative;
        top: 80px;
    
}
 
.flip-card-back p {
    position: relative;
    top: 123px;
}
.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 121%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px 55px 2px 55px;
}

.flip-card-front {
    background-color: #00000008;
    color: black;
    border-radius: 2px 55px 2px 55px;
}

.flip-card-back {
    background-color: #00000008;
    color: black;
    transform: rotateX(180deg);
    border-radius: 2px 55px 2px 55px;

}
.logosvg-sec svg{
     
    float: left;


}
.logosvg-sec {
    padding: 145px 0px 64px;
}
.title-svg {
    font-size: 21px;
    padding-left: 101px;
}
.border2 {
    border-left: 5px solid #A8A8A8;
}
/* borker-sec */
.borker-sec{
    padding-top:15%;
}
.borker-s3 h2 {
    font-size: 33px;
    font-weight: 500;
    padding: 8px 0px;
}
.borker-s3 p {
    font-size: 17px;
    padding: 4px 2px;
}
.borker-img{
    width: 90%;
    margin-top: 34px;
}
/* calculate-bar */
.calculate-bar{
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     padding: 20px;
     width: 49%;

}
.comission-sec{
    margin-top: 140px;
}
.calculate-bar h2 {
    font-size: 32PX;
    border-bottom: 1px solid #a8a8a8;
    padding: 16px;
}
.calculate-bar h3 {
    padding: 6px;
    font-size: 21px;
    font-weight: 400;
}
.form-bar {
    background-color: transparent;
    padding: 10px;
    width: 95%;
    float: right;
}
.label-title1{
    padding-left: 10px;
}
#customRange1 {
    width: 99%;
    padding: 26px;
    margin-left: 26px;
}
/* company */
.flip-card1 {
    background-color: transparent;
    width: 258px;
    height: 395px;
    perspective: 1000px;
    border-radius: 2px 55px 2px 55px;
}
  
  .flip-card-inner1 {
      position: relative;
      width: 100%;
      min-height: 88%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      top: 34px;
       border-radius: 2px 55px 2px 55px;
  
  }
  .flip-card-front1 h3 {
    text-align: center;
    position: relative;
    top: 106px;
    color: #a8a8a8;
}
  
  .svg-card{
     
          position: relative;
          top: 80px;
      
  }
   
  .flip-card-back1 p {
      position: relative;
      top: 123px;
  }
  .flip-card1:hover .flip-card-inner1 {
      transform: rotateX(180deg);
  }
  
  .flip-card-front1, .flip-card-back1 {
      position: absolute;
      width: 121%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 2px 55px 2px 55px;
  }
  
  .flip-card-front1 {
      background-color: #00000008;
      color: black;
      border-radius: 2px 55px 2px 55px;
  }
  
  .flip-card-back1 {
      background-color: #00000008;
      color: black;
      transform: rotateX(180deg);
      border-radius: 2px 55px 2px 55px;
  
  }
  /* we-sec */
  .we-sec{
    padding-top: 150px;
  }
  .we-sec img {
    width: 70%;
    padding-left: 46px;
}
.svg-logos{
    padding-top: 200px;
}
.texts-cent{
         text-align: center;
    }
.svg-logos1 h3{
         color: #000000;
        font-size: 16px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 25px;
    
}
 .rangeslider{
    width: 90%;
    float: right;
    color: #000037;
 }
.num1 p{
    margin-top: 20px;
} 
.numma{

    background-color: #000000;
    color: #fff;
    /* width: 10px; */
    /* height: 20px; */
    margin-right: 15px;
    padding: 8px 21px;
    border-radius: 10px;
    margin-top: 15px;
}
.slider {
    width: 94%;
    accent-color: #0000;
    height: 3px;
    outline: none;
}
 .sliders{
    width: 100%;
        accent-color: #0000;
        height: 3px;
        outline: none;

 }
 .slidval{
    display: flex;
    justify-content: end;
    flex-direction: column;
 }
 .bgc {
    padding-top: 33px;
    margin-top: 10px;
}
 .bgc1 {
    background-color: #151515;
    color: #fff;
    width: 35%;
    padding: 12px 7px 0px 7px;
    text-align: center;
    margin-right: 6px;
    margin-left: 40px;
}
.bgc2{
    background-color: #151515;
   
    width: 35%;
   
    text-align: center;
     
}
.bgc2 a {
    text-decoration: none;
    background-color: #000027;
    color: #fff;
    /* text-align: center; */
    position: relative;
    top: 26px;
    padding: 6px;
}
.bgc2 a:hover{
    background-color: #fff;
    color: #000000;
}
 .bgc1 h6{
    font-size: 12px;
 }
 .spn span {
    position: relative;
    left: -56px;
    top: 24px;
    color: #00000059;
}
.bcg{
         margin-top: 69px;
        margin-left: -12px;
    
}
 






@media (max-width:540px) {
    .moblie-view {
        display: none;
    }

    .desk-view {
        display: unset;
    }

    .hero-img {
        height: 262px;
        width: 371px;
        margin-top: 21%;

    }

    .des {

        text-align: center;
        padding: 1px 46px;

    }

    .content-1 h2 {
        color: #fff;
        /* margin: 0px 0px 8px; */
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .rig {
        text-align: center;
    }

    .sec4-h3 {
        text-align: center;
        float: unset;
        /* margin-top: 3px; */
        /* padding-top: 52px; */
    }

    .sec-5 img {
        padding: 17px 0px;
        transition: transform .6s;
    }

    .section-6 {
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 30px;
    }

    .sec6-h3 {
        font-size: 26px;
        font-weight: 500;
        font-family: 'Poppins';
        text-align: center;
    }

    .top-head {
        font-weight: 500;
        text-align: center;
        padding-top: 15%;
        font-size: 30px;
    }

    .colbtn {
        text-align: center;
    }

    .top-p {
        text-align: center;
    }

    .colum-img {
        padding-top: 15%;
        width: 100%;
        display: block;
    }

    .card-1 {
        margin-bottom: 45px
    }

    .sec7-head {
        margin: 0px;
    }

    .fot {
        padding-bottom: 28px;
    }
    .footer-line {
        padding-left: 10px;
        border-left: 3px solid #edf5e1;
        margin-bottom: 14px;
        font-size: 20px;
        margin-top: 31px;
    }

    .footer1,
    .footer2 {
        padding: 0px;
    }

    .footer-p {
        margin-top: 14px;
    }

    .sec4-col {
        padding: 6% 6% 6% 12%;
    }

    .market {
        font-size: 63px;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        opacity: 1;
        -webkit-transform: rotate(-0deg);
        -moz-transform: rotate(-00deg);
        -o-transform: rotate(-0deg);
        writing-mode: lr-tb;
        position: relative;
        top: -23%;
        left: 14%;
    }

    .foot-ico {
        margin-right: -25px;
    }

    .foot-ul {
        padding-left: 0px;
    }

    /* trading  */
    .trade-p h2 {
        font-size: 33px;
        margin-right: 54px;
        padding-top: 21px;
    }

    .trade-sec1 {
        background-image: url('../image/inner-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        padding: 18px 3px;
        margin-top: 15%;
    }
    /* accounut section */
    .card-section {
        border-radius: 17px;
        background: #F9F8F7 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
        width: 90%;
        margin-left: 17px;
    }
    .center-content h2 {
        /* padding-left: 14px; */
        font-size: 29px;
        font-weight: 600;
        padding-top: 13%;
        /* padding-right: 3px; */
        text-align: center;
        padding-bottom: 0px;
    }
    .center-content p {
        text-align: center;
        font-size: 14.5px;
        /* justify-content: center; */
        /* padding: 32px; */
        padding: 80px 0px;
    }
    .card-secbtn button {
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: #000027;
        padding: 10px;
        margin: 9px 2px;
        /* margin: 16px; */
        border-radius: 6px;
    }
    .content-card {
        position: absolute;
        top: 4%;
        left: 42%;
        padding-right: 26px;
        transform: translate(-50%, -50%);
        font-size: 24px;
    }
    .card-table2 p {
        font-size: 25px;
        font-weight: 100;
    }
    .list-ss1 {
       
        padding-top: 9px;
        margin-top: 135px;
        
    }
    .card-table2 {
     
        margin: 30px 1px;
    }
    .logosvg-sec svg {
        float: left;
        margin: 26px 1px;
    }
    .flip-card-front1 {
        
        margin-left: 28px;
    }
    .we-sec img {
        width: 106%;
        padding-left: 46px;
        padding-top: 96px;
        padding-right: 49px;
    }
    /* calculation bar */
    .calculate-bar {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        padding: 20px;
         width: 100%;
    }
}